<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
</head>
<body>
    <div th:fragment="navbar">
        <nav class="navbar">
            <a href="" class="brand">Team HTML</a>

            <ul class="nav-menu">
                <li class="nav-item">
                    <a th:href="@{/plantillas/home}" class="nav-link">Home</a>
                </li>
                <li class="nav-item">
                    <a th:href="@{/plantillas/proyectdescription}" class="nav-link">Proyecto</a>
                </li>
                <li class="nav-item">
                    <a th:href="@{/plantillas/team}" class="nav-link">Equipo</a>
                </li>
                <li class="nav-item">
                    <a th:href="@{/plantillas/requirements}" class="nav-link">Requerimientos</a>
                </li>
                <li class="nav-item">
                    <a th:href="@{/plantillas/arquitectura}" class="nav-link">Arquitectura</a>
                </li>
                <li class="nav-item">
                    <a th:href="@{/plantillas/desarrollo}" class="nav-link">Desarrollo</a>
                </li>
                <li class="nav-item">
                    <a th:href="@{/plantillas/pruebas}" class="nav-link">Pruebas</a>
                </li>
                <li class="nav-item">
                    <a th:href="@{/plantillas/despliegue}" class="nav-link">Despliegue</a>
                </li>
                <li class="nav-item">
                    <a th:href="@{/plantillas/}" class="nav-link">Contáctenos</a>
                </li>
            </ul>
            <div class="hamburger">
                <span class="bar"></span>
                <span class="bar"></span>
                <span class="bar"></span>
            </div>
        </nav>
    </div>
</body>
</html>