
<h1>Wiki</h1>

<h1>Presentacion de equipo</h1>

<p>
    Nombre del equipo</p>

<strong>Listado de integrantes</strong>
<p>Gianfranco Cassandro Apraez </p>
<p>.Rol</p>
<p>.Lenguajes en que desarrollan: Kotlin, Java, Html, Python</p>
<p>.Estudiante de ingenieria de sistemas de septimo semestre, intereses y aptitudes por el desarrollo movil, analitica de datos e IA </p>
<br>
<p>Renato Negrete Puente</p>
<p>.Rol</p>
<p>.Lenguajes en que desarrollo: c++, Java, Python, Kotlin</p>
<p>.Estudiante de ingenieria de sistemas de sexto semestre, intereses en la cyberseguridad y el desarrollo de software</p>
<br>
<p>Juan Esteban Paez Alfonso</p>
<p>.Rol</p>
<p>.Lenguajes en que desarrolla: C++, Java, Python, R, Kotlin</p>
<p>Estudiante de ingenieria de Sistemas de sexto semestre apasionado por la seguridad informatica y procteccion de datos y redes.</p>
<br>
<br>


<strong>.Descripción del proyecto: (Textos realizados por el profesor y complementados por el equipo)
</strong>
<br>
<br>

<strong>Requerimientos: (Textos realizados por el profesor y complementados por el equipo)
</strong>
<p>.Funcionales</p>
<p>.No Funcionales</p>
<br>
<br>

<strong>Arquitectura del proyecto: (Textos realizados por el profesor y complementados por el equipo)
</strong>
<p>.Diagramas de referencia C4
</p>
<p>
    .Diagrama de contexto

</p>
<p>
    .Diagrama del contenedor

</p>
<p>
    .Diagrama de componentes

</p>

<strong>Modelos</strong>
<p> Entidad/Relación: Diccionario
</p>
<p>
    Diagrama de despliegue
</p>

<strong>Para desarrollo: (Textos realizados por el equipo)
</strong>

<p>Descripciones de endpoints (Textos realizados por el equipo)
</p>
<br>
<br>

<strong>Pruebas: (Textos realizados por el equipo)
</strong>
<p>Casos de pruebas frontend
</p>
<p> Casos de pruebas backend
</p>

<strong>
    Despliegue: (Textos realizados por el equipo)

</strong>
<p>Versiones
</p>

<br>
<strong>Formulario de contáctenos
</strong>


<h1>Descripción</h1>
<strong>¿Qué es una Wiki?</strong>

Esta es una prueba de los templates
