<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" th:href="@{/styles/navbar.css}">
    <link rel="stylesheet" th:href="@{/styles/home.css}">
</head>
<body>
    <div th:replace="~{fragments/navbar :: navbar}"></div>
    <div class="main-content">
        <h1>Bienvenidos a nuestra Wiki</h1>
    </div>
    <script th:src="@{/js/menu.js}"></script>
</body>
</html>