<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Formulario de Contacto</title>
    <link rel="stylesheet" th:href="@{/styles/Form.css}">
</head>
<body>

    <div th:replace="~{fragments/navbar :: navbar}"></div>
    <h2>Formulario de Contáctenos</h2>
    <form th:action="@{/plantillas/guardar}" th:object="${student}" method="post" onsubmit="return validarFormulario()">
        <label>Nombres:</label>
        <input type="text" th:field="*{nombres}" id="nombres" maxlength="100" oninput="validarTexto(this, 100)" required>
        <span id="contadorNombres">0/100</span>
        <p id="errorNombres" class="mensaje-error"></p>

        <label>Apellidos:</label> 
        <input type="text" th:field="*{apellidos}" id="apellidos" maxlength="100" oninput="validarTexto(this, 100)" required>
        <span id="contadorApellidos">0/100</span>
        <p id="errorApellidos" class="mensaje-error"></p>

        <label>Correo:</label>
        <input type="email" th:field="*{correo}" id="correo" maxlength="100" oninput="validarCorreo()" required>
        <p id="errorCorreo" class="mensaje-error"></p>

        <label>Semestre:</label>
        <input type="number" th:field="*{semestre}" id="semestre" min="0" max="16" oninput="validarSemestre()" required>
        <p id="errorSemestre" class="mensaje-error"></p>

        <label>Descripción:</label>
        <textarea th:field="*{descripcion}" id="descripcion" maxlength="300" oninput="validarTexto(this, 300)" required></textarea>
        <span id="contadorDescripcion">0/300</span>
        <p id="errorDescripcion" class="mensaje-error"></p>

        <button type="submit">Enviar</button>
    </form>

    <script th:src="@{/js/formulario.js}"></script>

</body>
</html>
