body {
    margin: 0;
    padding: 0;
    background-color: #D3EDF2;
}

.main-content {
    margin-top: 70px;
    text-align: center;
}

.navbar {
    background-color: #0E80EB;
    padding: 15px 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    z-index: 1000;
}

.navbar ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.navbar li {
    margin: 0 15px;
}

.navbar a {
    text-decoration: none;
    color: black;
    font-size: 18px;
    padding: 10px 15px;
    border-radius: 5px;
}

.navbar a:hover {
    color: #c5c3c3;
}
